.navbar-brand {
    height: 70px;
    img {
        height: 100%;
    }
}
.navbar {
    .navbar-nav {
        .nav-item {
            a {
                color: #47B769;
                opacity: 0.5;
                font-size: 2rem;
                &.nav-link:hover, &.nav-link.active {
                    color: #47B769;
                    opacity: 1;
                }
            }
        }
    }
}
.slider-div {
    background-color: #47B769;
    height: 150px;
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin: auto;
        padding-top: 1rem;
    }
}
.card-shadow {
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}